html,body
{
    height:100%;
}
body 
{
    margin:0;
    padding:0;
    background-color: hsl(30, 38%, 92%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container 
{
    background-color: white;
    width:50%;
    height:350px;
    border-radius: 10px;
    display: flex;
}
.attribution 
{
    position:fixed; 
    left:0px;
    width:100%;
    bottom:0px;
    text-align: center;
}
.right-side 
{
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    display:flex;
    flex-direction: column;
    width:50%;
}
.left-side 
{
    width:50%;
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
}
p{
    line-height: 25px;
    font-size: 15px;
    color:grey;
    font-family: 'Montserrat', sans-serif;
} 
h1 
{
    font-size: 20px;
    color:hsl(212, 21%, 14%);
    margin:0;
    font-family: 'Fraunces', serif;
}
h5
{
    margin:0;
    margin-top:10%;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color:hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.cart 
{
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    height:40px;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.cart img 
{
    height:50%;
 
}
.cart h3
{
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
    font-size:20px;
}
.price 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    margin:0;
}
.price h2 
{
    margin:0;
    font-size: 30px;
    color:hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}
.price h6 
{
    margin:0;
    color:hsl(228, 12%, 48%);
    text-decoration: line-through;
}
/*especificaciones generales para mobile*/
@media(max-width:900px)
{
    .container 
    {
        border-radius: 30px;
        height:620px;
        width:90%;
        flex-direction: column;
    }
    .left-side 
    {
        width:100%;
        height:40%;
        background-image: url(./images/image-product-mobile.jpg);
        background-size: cover;
    }
    .right-side
    {
        width:100%;
        height:60%;
    }
    h5 
    {
        margin-top:10px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    h1 
    {
        font-size:30px;
    }
    .cart 
    {
        
       height:50px;
       font-size: 25px;
    }
    p 
    {
        font-size: 17px;
        line-height: 25px;
    }
    .price 
    {
        margin-bottom: 15px;
    }
    .price h2 
    {
        font-size: 30px;
    }
}
/*telefonos pequeños*/
@media(max-width:320px)
{
    .left-side
    {
        height:30%;
    }
    .container 
    {
        height:400px;
    }
    h5 
    {
        font-size: 12px;
    }
    h1 
    {
        font-size:22px;
    }
    p 
    {
        font-size: 14px;
        line-height: 20px;
    }
    .price h2 
    {
        font-size: 25px;
    }
    .cart 
    {
        position: relative;
        bottom:10px;
        left:20px;
        width:80%;
    }
    
}
@media(min-width:321px) and (max-width:376px)
{
    .container
    {
        height:550px;
    }
    h1 
    {
        font-size: 25px;
    }
    p 
    {
        font-size: 15px;
    }
    .price h2 
    {
        font-size: 30px;
    }
    .cart 
    {
        font-size: 30px;
        height: 35px;
        position: relative;
        bottom: 10px;
    }
    .cart img 
    {
        width:20px;
        height: 20px;
    }
}
/*tablets*/
@media(min-width:700px)  and (max-width:800px)
{
    .container 
    {
        height:750px;
    }
    h5 
    {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    h1 
    {
        font-size: 40px;
    }
    p 
    {
        font-size: 22px;
        line-height: 30px;
    }
    .price h2 
    {
        font-size: 40px;
    }
    .cart 
    {
        height:60px;
        font-size: 35px;
    }
    
}
@media(min-width:800px) and (max-width:1000px)
{
    .container
    {
        height: 850px ;
    }
    h1 
    {
        font-size: 50px;
    }
    p
    {
        font-size: 25px;
        line-height: 33px;
    }
    .price h2 
    {
        font-size: 55px;
    }
    .price h6 
    {
        font-size:30px;
    }
    .cart 
    {
        height: 70px;
    }
}